<!DOCTYPE html>
<html>
<head>
	<title>Issues</title>
	<link rel=stylesheet type="text/css" href="index.css">
	<script src="index.js"></script>
</head>
<body>
<div>
	<p>Github issues they're associated with: </p>
	<ul>
		<% @github_convos.each do |convo| %>
			<ul>
				<li><%= convo %></li>
			</ul> 
		<% end %>
	</ul>
</div>
</body>
</html>