<!DOCTYPE html>
<html>
<head>
	<title>Issues</title>
	<link rel=stylesheet type="text/css" href="index.css">
	<script src="index.js"></script>
</head>
<body>
<div>
	<p>Conversations:</p>
	<ul>
		<% @conversations.each do |convo| %>
			<li><%= convo.id %></li>
		<% end %>
	</ul>
	</div>
</div>
</body>
</html>